<div class="container">
<h1>Cloud Clinic</h1>
<hr />
<div class="well well-lg col-md-7">
  <p>Cloud Clinic is Patient Management System that is catered towards use in medical centres.  </p>

    <p> This project was developed using Ruby on Rails. </p>

  <p>Created by Eamon Coleman (x1036493)</p>
</div>

<div class="well well-lg col-md-4 col-md-offset-1">
  <h4>Log In</h4>
  <h4>Sign Up</h4>
</div>

</div>
